
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="AUDIT_ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AUDIT_ID</th>
      <td mat-cell *matCellDef="let row" style="min-width: 304px !important;">{{row.AUDIT_ID}}</td>
    </ng-container>

    <ng-container matColumnDef="ACTION">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
      <td mat-cell *matCellDef="let row" style="min-width: 250px !important;">{{row.ACTION}}</td>
    </ng-container>

    <ng-container matColumnDef="ORIGIN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ORIGIN</th>
      <td mat-cell *matCellDef="let row" style="min-width: 100px !important;">{{row.ORIGIN}}</td>
    </ng-container>

    <ng-container matColumnDef="REQUEST_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REQUEST_DATE</th>
      <td mat-cell   *matCellDef="let row" style="min-width: 204px !important;">{{row.REQUEST_DATE}}</td>
    </ng-container>

    <ng-container matColumnDef="RESPONSE_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSE_DATE</th>
      <td mat-cell *matCellDef="let row" style="min-width: 204px !important;">{{row.RESPONSE_DATE}}</td>
    </ng-container>

    <ng-container matColumnDef="STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
      <td mat-cell *matCellDef="let row">{{row.STATUS}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="13">
  </mat-paginator>
</div>
