<div class="content" role="main">
  <!--Apps-->
  <div class="card-container">

    <a class="card" routerLink="" routerLinkActive="active">
      <span>Resumo</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a class="card" routerLink="/bem" routerLinkActive="active">
      <span>Bem</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a class="card" routerLink="/mies" routerLinkActive="active" style="width: 30%">
      <span>Meta Info Extraction Services</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a class="card" routerLink="/kovis" routerLinkActive="active">
      <span>Kovis Metadata</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>
    <a class="card" routerLink="/motordequestionarios" routerLinkActive="active">
      <span>Motor de questionários</span>

      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
